.background {
  transition: all 0.2s ease;
  background-color: #FFE9D3;
}

.background.break {
  transition: all 0.2s ease;
  background-color: #E8E4CA;
}

.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.tomato {
  transition: all 0.2s ease;
  position: relative;
  width: 363px;
  height: 305px;
  background: url('/tomato.svg') no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tomato.break {
  transition: all 0.2s ease;
  background: url('/break_tomato.svg') no-repeat center;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #FFF;
  font-family: "Istok Web";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 20px;
}


.button {
  width: 55px;
  height: 55px;
  background-color: #1D1B20;
  border: none;
  cursor: pointer;
  padding: 0;
  mask-repeat: no-repeat;
  mask-position: center;
}

.button-play {
  mask-image: url("/play_button.svg");
}

.button-play.running {
    mask: url("/pause_button.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.button-skip {
    mask-image: url("/skip_button.svg");
}

.button-back {
    mask-image: url("/back_button.svg");
}

.button:hover {
  background-color: #f56239;
  transform: translateY(-2px);
  transition: all 0.1s ease;
}

.button:active {
  transform: scale(0.95); 
  background-color: #582315;
}